@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Rental Application</h1>
    <p>Choose a section:</p>
    <div class="btn-group">
        <a asp-controller="Car" asp-action="Index" class="btn btn-primary">Cars</a>
        <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Customers</a>
        <a asp-controller="Rental" asp-action="Index" class="btn btn-primary">Rentals</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Register</a>
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>

    </div>
</div>
